:root {
  /* COLOR */
  --dark-mode-action-primary: rgb(242, 207, 157);
  --dark-mode-action-secondary: rgb(191, 170, 141);
  --dark-mode-action-tertiary: rgb(153, 131, 100);
  --dark-mode-border-primary: rgb(119, 119, 128);
  --dark-mode-border-secondary: rgb(87, 87, 100);
  --dark-mode-border-tertiary: rgb(68, 68, 81);
  --dark-mode-canvas-overlay: rgba(35, 35, 41, 0.5);
  --dark-mode-canvas-primary: rgb(36, 36, 46);
  --dark-mode-canvas-quaternary: rgb(22, 22, 29);
  --dark-mode-canvas-secondary: rgb(34, 34, 43);
  --dark-mode-canvas-tertiary: rgb(27, 27, 36);
  --dark-mode-green-primary: rgb(164, 246, 162);
  --dark-mode-green-secondary: rgb(132, 195, 130);
  --dark-mode-label-primary: rgb(241, 245, 252);
  --dark-mode-label-quaternary: rgb(94, 94, 106);
  --dark-mode-label-secondary: rgb(196, 196, 210);
  --dark-mode-label-tertiary: rgb(143, 143, 163);
  --dark-mode-purple-primary: rgb(162, 151, 250);
  --dark-mode-purple-secondary: rgb(107, 99, 173);
  --dark-mode-red-primary: rgb(255, 135, 98);
  --dark-mode-red-secondary: rgb(191, 117, 94);
  --dark-mode-yellow-primary: rgb(242, 232, 138);
  --dark-mode-yellow-secondary: rgb(187, 180, 117);
  --light-mode-action-primary: rgb(249, 134, 33);
  --light-mode-action-secondary: rgb(255, 165, 87);
  --light-mode-action-tertiary: rgb(252, 201, 156);
  --light-mode-border-primary: rgb(194, 194, 201);
  --light-mode-border-secondary: rgb(205, 205, 211);
  --light-mode-border-tertiary: rgb(220, 220, 224);
  --light-mode-canvas-overlay: rgba(38, 38, 38, 0.15);
  --light-mode-canvas-primary: rgb(255, 255, 255);
  --light-mode-canvas-quaternary: rgb(236, 235, 233);
  --light-mode-canvas-secondary: rgb(247, 247, 247);
  --light-mode-canvas-tertiary: rgb(246, 245, 244);
  --light-mode-green-primary: rgb(92, 188, 90);
  --light-mode-green-secondary: rgb(160, 217, 159);
  --light-mode-label-primary: rgb(47, 46, 45);
  --light-mode-label-quaternary: rgb(212, 207, 203);
  --light-mode-label-secondary: rgb(74, 72, 70);
  --light-mode-label-tertiary: rgb(146, 140, 135);
  --light-mode-purple-primary: rgb(127, 115, 225);
  --light-mode-purple-secondary: rgb(210, 206, 251);
  --light-mode-red-primary: rgb(223, 104, 66);
  --light-mode-red-secondary: rgb(244, 158, 130);
  --light-mode-yellow-primary: rgb(238, 222, 80);
  --light-mode-yellow-secondary: rgb(248, 239, 160);
  --universal-brand: rgb(50, 254, 255);
}
