:root {
  /* COLOR */
  --dark-mode-action-primary: rgb(245, 192, 98);
  --dark-mode-action-secondary: rgb(203, 161, 88);
  --dark-mode-action-tertiary: rgb(115, 94, 57);
  --dark-mode-border-primary: rgb(62, 62, 75);
  --dark-mode-border-secondary: rgb(55, 55, 68);
  --dark-mode-border-tertiary: rgb(49, 49, 61);
  --dark-mode-canvas-primary: rgb(45, 45, 55);
  --dark-mode-canvas-quaternary: rgb(22, 22, 29);
  --dark-mode-canvas-secondary: rgb(36, 36, 46);
  --dark-mode-canvas-tertiary: rgb(27, 27, 36);
  --dark-mode-canvas-translucent: rgba(36, 36, 46, 0.9);
  --dark-mode-green-primary: rgb(192, 222, 133);
  --dark-mode-green-secondary: rgb(138, 170, 75);
  --dark-mode-label-primary: rgb(241, 245, 252);
  --dark-mode-label-quaternary: rgb(94, 94, 106);
  --dark-mode-label-secondary: rgb(196, 196, 210);
  --dark-mode-label-tertiary: rgb(147, 147, 165);
  --dark-mode-modal-overlay: rgba(35, 35, 41, 0.65);
  --dark-mode-purple-primary: rgb(178, 151, 250);
  --dark-mode-purple-secondary: rgb(119, 99, 173);
  --dark-mode-red-primary: rgb(255, 137, 98);
  --dark-mode-red-secondary: rgb(164, 87, 61);
  --dark-mode-yellow-primary: rgb(242, 232, 138);
  --dark-mode-yellow-secondary: rgb(176, 167, 83);
  --light-mode-action-primary: rgb(233, 80, 69);
  --light-mode-action-secondary: rgb(241, 141, 134);
  --light-mode-action-tertiary: rgb(247, 191, 186);
  --light-mode-border-primary: rgb(204, 204, 204);
  --light-mode-border-secondary: rgb(223, 223, 223);
  --light-mode-border-tertiary: rgb(240, 240, 240);
  --light-mode-canvas-primary: rgb(255, 255, 255);
  --light-mode-canvas-quaternary: rgb(203, 201, 194);
  --light-mode-canvas-secondary: rgb(250, 250, 250);
  --light-mode-canvas-tertiary: rgb(232, 231, 227);
  --light-mode-canvas-translucent: rgba(255, 255, 255, 0.8);
  --light-mode-green-primary: rgb(115, 142, 60);
  --light-mode-green-secondary: rgb(169, 202, 104);
  --light-mode-label-primary: rgb(58, 58, 64);
  --light-mode-label-quaternary: rgb(190, 190, 191);
  --light-mode-label-secondary: rgb(93, 93, 96);
  --light-mode-label-tertiary: rgb(139, 139, 141);
  --light-mode-modal-overlay: rgba(89, 89, 95, 0.5);
  --light-mode-purple-primary: rgb(130, 99, 216);
  --light-mode-purple-secondary: rgb(181, 161, 234);
  --light-mode-red-primary: rgb(226, 107, 67);
  --light-mode-red-secondary: rgb(237, 143, 112);
  --light-mode-yellow-primary: rgb(238, 222, 80);
  --light-mode-yellow-secondary: rgb(248, 239, 160);
  --universal-brand: rgb(50, 254, 255);
}
